@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/fontawesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/brands.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/solid.min.css');
* {
    box-sizing: border-box;
}
:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --color-primary: #ffc500;
    --color-copy: #333;
    --default-padding: 1rem;
    color: var(--color-copy);

}
header, main, footer {
    overflow-x: hidden;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
body {
    margin: 0;
    padding-top: 0;
}

ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}


.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
}
.navbar__container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    width: 100vw;
    height: 7.75rem;
    padding: 0 1rem;
}

.navbar__links {
    justify-self: end;
}

.navbar__links a{
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}

.navbar__links a:hover {
    color:var(--color-primary);
}
.navbar__links li{
    margin-right: 3rem;
    font-size: 0.875rem;
    text-transform: uppercase;
}
.logo--studion{
    font-size: 2.375rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    line-height: 1ch;
}

.logo--studion__subtitle{
    font-size: 0.875rem;
    font-weight: 300;
    float: right;
   
}

.copy--primary {
    color:var(--color-primary);
}

#slider {
    background-color: #000;
    color: #fff;
}
.slide {
    position: relative;
    height: calc(100vh - 7.75rem);
}
.slide__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.slide__copy {
    position: absolute;
    left: 50vw;
    top: 6.25rem;
}
.slide__copy h6 {
    font-size: 0.9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
}
.slide__copy h2 {
    font-size: 6.25rem;
    text-transform: uppercase;
    line-height: 6.25rem;
}
.slide__copy h2 span {
    display: block;
}
.btn {
    cursor: pointer;
    padding: 1rem 2.5rem;
    border: 0.125rem solid #fff;
    border-radius: 5rem;
    color: var(--color-primary);
    background: unset;
    font-size: 0.9375;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s all ease;
}
.btn:hover, btn:active, btn:focus, .btn--institutional {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #fff;
}
#counter {
    background:#ffc500;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.counter__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
    padding: 4.375rem 1rem;
}

.counter__container h3 {
    font-size: 2.1875rem;
    line-height: 0;
}
.counter__container h3 small {
    display: block;
    font-size: 1.25rem;
}
.institutional {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.125rem;
    align-items: center;
    padding: 4.375rem 1rem;
}
.institutional__image{
    max-width: 550px;
}
.institutional__copy {
    padding: 0 1.875rem;
}
.institutional__copy h4 {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.institutional__copy h2 {
    font-size: 1.5625rem;
    margin-top: 1rem;
}
.institutional__copy p {
    font-family: 'roboto', sans-serif;
    font-size: 1.0625rem;
    line-height: 1.6875rem;
    margin-bottom: 0;
    margin-bottom: 2.5rem;
}
#institutional__list {
    display: block;
}
.btn--institutional:hover {
    color: var(--color-copy);
    background: unset;

}
.quote {
    background-image: url(./parallax.jpg);
    min-height: 80vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.quote__container {
    display: grid;
    align-items: center;
    justify-items: end;
}
.quote__copy {
    background-color: #fff;
    padding: 5.625rem 4.375rem;
    margin: 75px;
}
.quote__copy h4 {
    font-size: 0.9375rem;
    font-weight: 400;
    letter-spacing: 0.1875rem;
    line-height: 1.4375rem;
    width: 53ch;
    text-transform: uppercase;
    margin: 0;
}
.quote__copy h2 {
    line-height: 5rem;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: -0.1875rem;
    margin: 1.875rem 0;
}
.quote__copy span {
    display: block;
}
.btn--quote {
    color: var(--color-copy);
    border-color: var(--color-copy);
    background: unset;
}
.footer {
    background-color: #000;
    color: #fff;
    padding: 0 1rem;
}
.footer__container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding: 2rem;
}
.footer .logo--studion {
    justify-self: start;
}
.footer .logo--studion__subtitle {
    display: block;
    float: right;
}
.footer__form {
    justify-self: center;
    display: grid;
    place-items: center;
    grid-template-columns: 9ch auto;
}
.footer__form label {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1rem;
    text-align: center;
}
.footer__form fieldset {
    display: grid;
    grid-template-columns: auto 3.375rem;
    border: unset;
    height: 3.5rem;
}
.footer__form input {
    background-color: var(--color-primary);
    border: unset;
    padding: 1rem;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
}
.footer__form input::placeholder {
    color: #000;
}
.footer__form input:focus {
    outline: unset;
}
.footer__form button {
    border: unset;
    height: 3rem;
    cursor: pointer;
    transition: 0.3s all ease;
}
.footer__form button:hover {
    color: #fff;
    background-color: var(--color-copy);
}
.footer__social {
    justify-self: end;
}
.footer__social a, .footer__social a:visited, .footer__social a:active {
    color: #fff;
}
.fa-twitter {
    color: #000;
}
.fa-youtube {
    color: #000;
}
.footer hr {
    border-color: #fff4;
}
.footer p {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0;
    margin: 1rem;
}